<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for item_id start -->
  <div class="form-group">
    <% item_class = "form-control" %>
    <% item_was_invalid = user.errors.include?(:item) %>

    <% if was_validated %>
      <% if item_was_invalid %>
        <% item_class << " is-invalid" %>
      <% else %>
        <% item_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_id %>
    <!-- Input for item_id start -->
    <%= f.number_field :item_id, class: item_class, placeholder: "Enter item" %>
    <!-- Input for item_id end -->
    <% if item_was_invalid %>
      <% user.errors.full_messages_for(:item).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_id end -->
  <!-- Label and input for member_since start -->
  <div class="form-group">
    <% member_since_class = "form-control" %>
    <% member_since_was_invalid = user.errors.include?(:member_since) %>

    <% if was_validated %>
      <% if member_since_was_invalid %>
        <% member_since_class << " is-invalid" %>
      <% else %>
        <% member_since_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :member_since %>
    <!-- Input for member_since start -->
    <%= f.date_select :member_since, class: member_since_class, placeholder: "Enter member since" %>
    <!-- Input for member_since end -->
    <% if member_since_was_invalid %>
      <% user.errors.full_messages_for(:member_since).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for member_since end -->
  <!-- Label and input for username start -->
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = user.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <!-- Input for username start -->
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <!-- Input for username end -->
    <% if username_was_invalid %>
      <% user.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for username end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
