<%= search_form_for @q, :class => collapse_search_form, :id => "users_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :item_id, "Item" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :item_id_gteq, :class => "form-control", :placeholder => "Item greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :item_id_lteq, :class => "form-control", :placeholder => "Item less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username_cont, "Username contains" %>
    <%= f.text_field :username_cont, :class => "form-control", :placeholder => "Username contains" %>
  </div>

  <div class="form-group">
    <%= f.label :member_since, "Member since" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='member_sincegteqPicker' data-target-input="nearest">
          <%= f.text_field :member_since_gteq, :class => "form-control datetimepicker-input", :placeholder => "Member since greater than or equal to", :data => {:target => '#member_sincegteqPicker'} %>
          <div class="input-group-append" data-target='#member_sincegteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='member_sincelteqPicker' data-target-input="nearest">
          <%= f.text_field :member_since_lteq, :class => "form-control datetimepicker-input", :placeholder => "Member since less than or equal to", :data => {:target => '#member_sincelteqPicker'} %>
          <div class="input-group-append" data-target='#member_sincelteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#member_sincegteqPicker').datetimepicker({
              format: 'MM/DD/YYYY'
          });
          $('#member_sincelteqPicker').datetimepicker({
              useCurrent: false,
              format: 'MM/DD/YYYY'
          });
          $('#member_sincegteqPicker').on("dp.change", function (e) {
              $('#member_sincelteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#member_sincelteqPicker').on("dp.change", function (e) {
              $('#member_sincegteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :item_id, "Category Item" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :categories_item_id_gteq, :class => "form-control", :placeholder => "Category Item greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :categories_item_id_lteq, :class => "form-control", :placeholder => "Category Item less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Price Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='pricesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :prices_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Price Created at greater than or equal to", :data => {:target => '#pricesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#pricesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='priceslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :prices_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Price Created at less than or equal to", :data => {:target => '#priceslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#priceslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#pricesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#priceslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#pricesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#priceslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#priceslteqcreated_atPicker').on("dp.change", function (e) {
              $('#pricesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/users" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#users_filters">
  Show filters
</a>
