<!-- Form search start -->
<%= form_with(model: @search, local: true) do |f| %>
<!-- Form search end -->

  <!-- Label and input for item_id start -->
  <div class="form-group">
    <%= f.label :item_id %>

    <!-- Input for item_id start -->
    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for item_id end -->
  </div>
  <!-- Label and input for item_id end -->

  <!-- Label and input for price_id start -->
  <!-- Input for price_id start -->
  <%= f.hidden_field :price_id, value: @price.id %>
  <!-- Input for price_id end -->
  <!-- Label and input for price_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <%= f.label :category_id %>

    <!-- Input for category_id start -->
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <%= f.submit "Create search", class: "btn btn-block btn-outline-secondary" %>
<% end %>
