<%= form_with(model: @search, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :item_id %>

    <%= f.collection_select :item_id, Item.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :price_id, value: @price.id %>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create search", class: "btn btn-block btn-outline-secondary" %>
<% end %>
