<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @price, partial: "card", as: :price %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "prices/price_item_titles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "prices/price_searches" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "prices/price_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "prices/price_categories" %>
  </div>
</div>
  <!-- Show Page Customization end -->
