<div class="card mb-3">
  <h2 class="card-header h4">
    Search #<%= search.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item</dt>
      <dd>
        <% if @search.item.present? %>
          <%= link_to search.item, search.item %>
        <% end %>
      </dd>

      <dt>Price</dt>
      <dd>
        <% if @search.price.present? %>
          <%= link_to search.price, search.price %>
        <% end %>
      </dd>

      <dt>Category</dt>
      <dd>
        <% if @search.category.present? %>
          <%= link_to search.category, search.category %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back search, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_search_url(search), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to search, method: :delete, data: { confirm: "Do you really want to delete this search?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(search.updated_at) %> ago
  </div>
</div>
