<div class="card mb-3">
  <h2 class="card-header h4">
    Search #<%= search.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Item</dt>
      <!-- Display item_id start -->
      <dd><%= search.item_id %></dd>
      <!-- Display item_id end -->

      <dt>Price</dt>
      <!-- Display price_id start -->
      <dd><%= search.price_id %></dd>
      <!-- Display price_id end -->

      <dt>Category</dt>
      <!-- Display category_id start -->
      <dd><%= search.category_id %></dd>
      <!-- Display category_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back search, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link search start -->
      <div class="col">
        <%= link_to edit_search_url(search), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link search end -->

      <!-- Delete link search start -->
      <div class="col">
        <%= link_to search, method: :delete, data: { confirm: "Do you really want to delete this search?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link search end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(search.updated_at) %> ago
  </div>
</div>
