<%= form_with(model: @search, local: true) do |f| %>

  <%= f.hidden_field :item_id, value: @item.id %>

  <div class="form-group">
    <%= f.label :price_id %>

    <%= f.collection_select :price_id, Price.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>

    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create search", class: "btn btn-block btn-outline-secondary" %>
<% end %>
