<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @category, partial: "card", as: :category %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_item_titles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_searches" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_users" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "categories/category_prices" %>
  </div>
</div>
  <!-- Show Page Customization end -->
